.mdl-layout__header-row {
    padding-left: 10px;

    img {
        width: 30px;
    }
}

.mdl-layout-title {
    padding-left: 8px;
}

.mdl-card {
    min-height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.mdl-button {
    padding: 0;
    min-width: 36px;
}

.mdl-card__title {
    padding-bottom: 0;

    h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.mdl-card__supporting-text {
    text-align:center;
    padding-top: 0;
    padding-bottom: 0;

    h1 {
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.btn-coop {
    position: absolute;
    right: 15px;
}

.coop-id {
    text-align:center;
}

// dialog {
//     position: fixed;
//     top: 50%;
//     transform: translate(0, -50%);
//   }

dialog {
    position: absolute;
    left: 0; right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1em;
    background: white;
    color: black;
    display: block;
  }

  dialog:not([open]) {
    display: none;
  }

  dialog + .backdrop {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.1);
  }

  ._dialog_overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  dialog.fixed {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }

  .mdl-dialog__title {
    padding: 4px 4px 0;
    font-size: 2.0rem;
  }

  .mdl-dialog__content {
    padding: 16px 6px 0px;
  }

  .mdl-dialog__actions .mdl-button {
    min-width: 80px;
  }

  .uppercase {
    text-transform: uppercase;
  }