body {
	background-color: #F5F5F5;
	font-family: "Open Sans", Arial, Helvetica, sans-serif
}

.btn-plusminus {
	color: #009DDC;
	//border: none;
	background-color: #F5F5F5;
	font-weight:bold;
	font-size:21px;
	padding-top: 7px;
}

.form-control {
	background-color: white !important;
}

.row {
	border-bottom: 1px solid #ddd;
	padding: 10px 5px 5px 0;
	height: 60px;
}

.row span,
.row input {
	vertical-align: middle;
}

.row input {
	width:40px;
//	top:3px !important;
}