body {
	background-color: #F5F5F5;
	font-family: "Open Sans", Arial, Helvetica, sans-serif
}
.btn-plusminus {
	color: #009DDC;
	//border: none;
	background-color: #F5F5F5;
	font-weight:bold;
}

.row {
	border-bottom: 1px solid #ddd;
	padding: 5px 5px 5px 0;
}

.row input {
	width:40px;
}

.row span,
.row input {
	position: absolute;
	top: 10px;
}