body {
	background-color: #F5F5F5;
	font-family: "Open Sans", Arial, Helvetica, sans-serif
}

.container {
	margin-top: $sticky-header-height-xs;
}

.container-fluid {
	padding-right: 5px;	
}

.btn-plusminus {
	color: #009DDC;
	border: none;
	background-color: #F5F5F5;
	font-weight:bold;
	font-size:21px;
	padding-top: 7px;
}

.btn-plusminus:hover {
	color: #009DDC;
}

.form-control {
	background-color: white !important;
}

.row {
	border-bottom: 1px solid #ddd;
	padding: 0 5px 5px 0;
	height: 60px;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.row-total {
	border:none;
}

.row-order {
	padding-top:0px;
}

.row input {
	width:40px;
//	top:3px !important;
}

.badge {
	min-width: 40px;
	font-size: 14px;
	background-color: #009DDC;
	padding: 10px 10px;
	border-radius: 5px;
}

.fa-plus:before,
.fa-minus:before {
	font-size:16px;
}

.fa-paper-plane-o:before {
	font-size: 21px;
}

.btn-send-order {
	background-color: darken(#009DDC, 8) !important;
	border: 1px solid white;
}

.btn-send-order:hover,
.btn-send-order:hover {
	color: #FFF;
}