<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blikjesteller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="shortcut icon" type="image/x-icon" href="global/img/blikjecola.png" />
		<link rel="apple-touch-icon" href="global/img/blikjecola.png" />

		<link rel="stylesheet" href="global/css/base.css"/>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<script src="global/js/script.js"></script>
	</head>
	<body ng-app="blikje" ng-controller="blikjeCtrl">
		<div id="content" class="offcanvas-content clearfix">
			<header>
				<div class="container-fluid">
					<div class="header-title">
						<h1>Blikjesteller</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="container ng-cloak">

			<div class="row vertical-align" ng-repeat="blikje in blikjes">
				<div class="col-xs-4 col-md-4"><span>{{blikje.name}}</span></div>
				<div class="col-xs-2"><span>{{blikje.price | currency:"&euro;"}}</span></div>
				<div class="col-xs-2"><span class="badge">{{blikje.amount}}</span></div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-lg btn-plusminus" ng-click="plusOne(blikje)"><i class="fa fa-plus"></i></button>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-lg btn-plusminus" ng-click="minusOne(blikje)"><i class="fa fa-minus"></i></button>
				</div>
			</div>

			<div class="row row-total vertical-align" ng-show="blikjes">
				<div class="col-xs-4 col-md-4"><strong>Totaal</strong></div>
				<div class="col-xs-1"><strong>{{totalAmount | currency:"&euro;"}}</strong></div>
			</div>
		</div>

		<script>
			 angular.element(document).ready(function () {
				FastClick.attach(document.body);
			});

			!function(b,l,i,k,j,e){b.GoogleAnalyticsObject=i;b[i]||(b[i]=function(){
			(b[i].q=b[i].q||[]).push(arguments)});b[i].l=+new Date;j=l.createElement(k);
			e=l.getElementsByTagName(k)[0];j.src='//www.google-analytics.com/analytics.js';
			e.parentNode.insertBefore(j,e)}(window,document,'ga','script');

			ga('create', 'UA-12668643-7', 'auto');
			ga('send', 'pageview');

		</script>

		<!--  MouseStats:Begin  -->
		<script type="text/javascript">var MouseStats_Commands=MouseStats_Commands?MouseStats_Commands:[]; (function(){function b(){if(void 0==document.getElementById("__mstrkscpt")){var a=document.createElement("script");a.type="text/javascript";a.id="__mstrkscpt";a.src=("https:"==document.location.protocol?"https://ssl":"http://www2")+".mousestats.com/js/5/4/5486139016865607085.js?"+Math.floor((new Date).getTime()/6E5);a.async=!0;a.defer=!0;(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(a)}}window.attachEvent?window.attachEvent("onload",b):window.addEventListener("load", b,!1);"complete"===document.readyState&&b()})(); </script>
		<!--  MouseStats:End  -->
	</body>
</html>