.mdl-layout__header-row {
    padding-left: 10px;

    img {
        width: 30px;
    }
}

.mdl-layout-title {
    padding-left: 8px;
}

.mdl-card {
    min-height: 80px;
}

.mdl-button {
    padding: 0;
    min-width: 36px;
}

.mdl-card__title {
    padding-bottom: 0;

    h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.mdl-card__supporting-text {
    text-align:center;
    padding-top: 0;
    padding-bottom: 0;
    position:absolute;

    h1 {
        font-size: 60px;
        margin-top: 0;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.28);
    }
}
