<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Blikjesteller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="shortcut icon" type="image/x-icon" href="global/img/blikjecola.jpg" />
		<link rel="apple-touch-icon" href="global/img/blikjecola.jpg" />

		<link rel="stylesheet" href="global/css/base.css"/>

		<script src="global/js/script.js"></script>
	</head>
	<body>
		<div class="container ng-cloak" ng-app="blikje" ng-controller="blikjeCtrl">
			<h2>Blikjesteller&trade;</h2>
		
			<div class="row" ng-repeat="blikje in blikjes">
				<div class="col-xs-4 col-md-4"><span>{{blikje.name}}</span></div>
				<div class="col-xs-2"><span>{{blikje.price | currency:"&euro;"}}</span></div>
				<div class="col-xs-2"><input type="text" value="{{blikje.amount}}" readonly /></div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg" ng-click="plusOne(blikje)">+</button>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-primary btn-lg" ng-click="minusOne(blikje)">-</button>
				</div>
			</div>
		
			<div class="row" ng-show="blikjes">
				<div class="col-xs-4 col-md-4"><strong>Totaal</strong></div>
				<div class="col-xs-1"><strong>{{totalAmount | currency:"&euro;"}}</strong></div>
			</div>
		
			<div class="row" ng-show="blikjes">
				<div class="col-xs-12">
					<button type="button" class="btn btn-primary btn-lg" ng-click="sendOrder()" ng-disabled="orderSent || totalAmount == 0">Bestellen</button>
				</div>
			</div>
		</div>

		<script>
			if ('addEventListener' in document) {
				document.addEventListener('DOMContentLoaded', function() {
					FastClick.attach(document.body);
				}, false);
			}
		</script>
	</body>
</html>