<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Blikjesteller</title>

        <link rel="manifest" href="/manifest.json">

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="/global/img/can.png">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Blikjesteller">
        <link rel="apple-touch-icon-precomposed" href="/global/img/can.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="/global/img/can.png">
        <meta name="msapplication-TileColor" content="#3372DF">

        <link rel="shortcut icon" href="/global/img/can.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-red.min.css">
        <link rel="stylesheet" href="/global/css/base.css">
    </head>
    <body>
        <div id="blikjesteller">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header class="mdl-layout__header">
                    <div class="mdl-layout__header-row">
                        <img src="/global/img/can.svg"></img>
                        <span class="mdl-layout-title">Blikjesteller</span>
                        <span v-if="coopStarted" class="mdl-layout-title">[Co-op: {{ coopId }}]</span>
                        <span v-if="coopJoined" class="mdl-layout-title">[Co-op: {{ joinCoopId }}]</span>
                        <div class="btn-coop">
                            <button class="mdl-button mdl-button--icon mdl-js-button" id="show-dialog">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </header>
                <main class="mdl-layout__content mdl-color--grey-100">
                    <div class="page-content">
                        <div v-for="(blikje, index) in blikjes" class="mdl-card mdl-cell mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h5>
                                    <div class="mdl-card__title-text">{{blikje.name}}</div>
                                    <div class="mdl-card__subtitle-text">{{blikje.price | currency('&euro;')}}</div>
                                </h5>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <h1>{{blikje.amount}}</h1>
                            </div>
                            <div class="mdl-card__menu">
                                <button v-on:click="plusOne(blikje)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">add</i>
                                </button>
                                <button v-on:click="minusOne(blikje)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">remove</i>
                                </button>
                            </div>
                        </div>
                        <div class="mdl-card mdl-cell mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h5>
                                    <div class="mdl-card__title-text">Totaal</div>
                                </h5>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <h1>{{totalAmount | currency('&euro;')}}</h1>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <dialog class="mdl-dialog">
                <h5 class="mdl-dialog__title">Many hands make light work.</h5>
                <div class="mdl-dialog__content">
                    <p>Click on the button below to start a new co-op session.</p>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button start-new" v-on:click="startCoop">Start</button>
                </div>
                <hr>
                <div class="mdl-dialog__content">
                    <p>..or fill in the code of an already started session to join.</p>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input uppercase" type="text" id="join-coop-id" v-model="joinCoopId" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                        <label class="mdl-textfield__label" for="join-coop-id">Code<label>
                    </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button join-existing" v-on:click="joinCoop">Join</button>
                    <button type="button" class="mdl-button" v-on:click="closeDialog">Cancel</button>
                </div>
            </dialog>
        </div>
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script src="global/js/script.js"></script>
        <script>
            var dialog = document.querySelector('dialog');
            var showDialogButton = document.querySelector('#show-dialog');
            if (! dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }
            showDialogButton.addEventListener('click', function() {
                dialog.showModal();
            });
            // dialog.querySelector('.start-new').addEventListener('click', function() {
            //     dialog.close();
            // });
            // dialog.querySelector('.join-existing').addEventListener('click', function() {
            //     dialog.close();
            // });
        </script>
        <script>
            !function(b,l,i,k,j,e){b.GoogleAnalyticsObject=i;b[i]||(b[i]=function(){
            (b[i].q=b[i].q||[]).push(arguments)});b[i].l=+new Date;j=l.createElement(k);
            e=l.getElementsByTagName(k)[0];j.src='//www.google-analytics.com/analytics.js';
            e.parentNode.insertBefore(j,e)}(window,document,'ga','script');

            ga('create', 'UA-12668643-7', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>